# Azure
.azure/
.azurefunctions/
.azure-functions-core-tools/

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.vim/
.cache/

# OS
.DS_Store

# Shell
.bash_history
.bash_logout
.bash_profile
.bashrc
.zshrc
.tmux.conf
.viminfo

# Local
.local/
.docker/
